table {
    width: 100%;
  }
  
  img {
    width: 30px;
    height: 30px;
  }

  .mat-row .mat-cell {
      border-bottom: 1px solid transparent;
      border-top: 1pc solid transparent;
      cursor: pointer;
  }